<h1>my page</h1>
  <div>
    <p><%= @user.name %></p>
    <p><%= @user.email %></p>
    
    <% if @user == current_user %>
      <%= link_to "Edit", edit_user_registration_path %>
    <% end %>
  </div>