<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1>
      <i class="fa-solid fa-book"></i>
      Animal*.。・＊
    </h1>
    <div>
      <p>自身の飼っている動物のkawaiiを投稿したり、投稿の履歴で
      動物の成長の振り返りができます。
      </p>
      <p>また、多くの飼い主さんとの交流を通して、いろんな動物のkawaiiを知ることができます。</p>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
