<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1>
      <i class="fa-solid fa-book"></i>
      Animal*.。・＊
    </h1>
    <div>
      自身の飼っている動物のかわいさを投稿したり、投稿の履歴を残すことで
      動物の成長の振り返りができます。
      また、多くの飼い主さんとの交流を通して、いろんな動物のkawaiiを知ることができます。
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
